[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"

[requires]
python_full_version = "3.11"
